<md-dialog-content class="md-dialog-content">
    <md-content>
        <div>
            <md-tabs md-dynamic-height="true">
                <md-tab label="Requester">
                    <div full-height>
                        <h3>Request number: {{requestId}} at {{requestDate}}</h3>
                        <h4>Start Date: {{requestStartDate}}</h4>
                        <h4>End Date: {{requestEndDate}}</h4>
                        <h4> Type: {{requestType}}</h4>
                        <h4 ng-show="initiatorComments"> My Comments: {{requestInitiatorComments}}</h4>
                    </div>
                </md-tab>
                <md-tab label="Manager">
                    <h4 ng-show="managerName"> Manager Name: {{requestManagerName}}</h4>
                    <h4 ng-show="managerApproval"> Manager Approval: {{requestManagerApproval}}</h4>
                    <h4 ng-show="managerApprovalDate"> Manager Approval Date: {{requestManagerDate}}</h4>
                    <h4 ng-show="managerComments"> Manager Comments: {{requestManagerComment}}</h4>
                </md-tab>
                <md-tab label="Controller">
                    <h4 ng-show="controllerName"> Controller Name: {{requestControllerName}}</h4>
                    <h4 ng-show="controllerApprove"> Controller Approval: {{requestControllerApproval}}</h4>
                    <h4 ng-show="controllerApprovalDate"> Controller Approval Date:
                        {{requestControllerApproveDate}}</h4>
                    <h4 ng-show="controllerComments"> Controller Comments: {{requestControllerComments}}</h4>
                </md-tab>
                <md-tab label="Details">
                    <div ui-grid="requestChild"/>
                </md-tab>
                <md-tab></md-tab>
            </md-tabs>
        </div>
    </md-content>
</md-dialog-content>